name: Docker Image
on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
    build:
      runs-on: ubuntu-latest
      concurrency: 
        group: docker_image
        cancel-in-progress: false
      steps:
        - uses: actions/checkout@v3
        - name: Uses Node.js 
          uses: actions/setup-node@v3
          with:
            node-version: 16.x
            cache: 'npm'
            
        - run: npm install
        - run: npm run build    
        - name: Build and publish Docker Image
          uses: mr-smithers-excellent/docker-build-push@v5
          with:
            image: procech20/atlp-pulse
            registry: docker.io
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    deploy:
      runs-on: ubuntu-latest
      concurrency: deployment
      needs: [build]
      steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "atlp-bn-staging" #Must be unique in Heroku
          heroku_email: ${{secrets.HEROKU_EMAIL}}